{% extends "base.html" %}
{% load static %}
{% block 'dashboard' %}
<h1 class="my-4">Atualizar Produto</h1>

<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    
    <div class="row">
       
        <div class="form-group col-md-12">
            <label for="id_nome">Nome</label>
            <textarea id="id_nome" name="nome" class="form-control {% if form.nome.errors %}is-invalid{% endif %}" rows="3" required>{{ form.nome.value|default_if_none:'' }}</textarea>
            {% if form.nome.errors %}
            <div class="invalid-feedback">{{ form.nome.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group col-md-3">
            <label for="id_valor">Valor</label>
            <input type="number" id="id_valor" name="valor" class="form-control {% if form.valor.errors %}is-invalid{% endif %}" 
                   value="{{ form.valor.value|stringformat:".2f" }}" step="0.01" max="9999999.99" required>
            {% if form.valor.errors %}
            <div class="invalid-feedback">{{ form.valor.errors }}</div>
            {% endif %}
        </div>
        
        
    </div>

 <!--  <div class="row">
        <div class="form-group col-md-6">
            <label for="id_estoque">Estoque</label>
            <select id="id_estoque" name="estoque" class="form-control {% if form.estoque.errors %}is-invalid{% endif %}" required>
                {% for estoque in form.estoque.field.queryset %}
                <option value="{{ estoque.pk }}" {% if estoque.pk == form.estoque.value %}selected{% endif %}>
                    {{ estoque.nome }}
                </option>
                {% endfor %}
            </select>
            {% if form.estoque.errors %}
            <div class="invalid-feedback">{{ form.estoque.errors }}</div>
            {% endif %}
        </div>-->
    </div>

    <br>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'listar_clientes' %}" class="btn colorprimarybtn2 ml-2">Voltar</a>
</form>

{% endblock %}