{% extends "base.html" %}
{% load static %}
{% block 'dashboard' %}
<h1 class="my-4">Lista de Usuários</h1>

<a href="{% url 'exportar_usuarios_pdf' %}" target="_blank" class="btn colorprimarybtn2 mb-3">Exportar PDF</a>

<a href="{% url 'criar_usuario' %}" class="btn colorprimarybtn2 mb-3">Adicionar Usuário</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.cpf }}</td>
      <td>
        <a href="{% url 'atualizar_usuarios' usuario.id %}" class="btn colorprimarybtn2 mb-2">Editar</a>
        <!-- Botão para deletar com confirmação -->
        <form action="{% url 'deletar_usuarios' usuario.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background-color: red; color: white" class="btn colorprimarybtn2 mb-2"   onclick="return confirm('Tem certeza que deseja excluir este usuario?');">Deletar</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">Nenhum usuario cadastrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}